@import '../../scss/init';

.about {
  @include withSpacingParent();

  .profile, .contact {
    @include withSpacing();
    display: flex;
    max-width: 800px;
  }

  .contact {
    align-items: flex-start;
    margin: 1rem 0;
    // margin-top: 1rem;
    // margin-bottom: 1rem;

    @include media('<tablet') {
      flex-direction: column;
      align-items: center;
    }

    .contacts,
    .opening-hours {
      color: $font-color-dark-light;
      display: grid;
      justify-content: center;
      row-gap: 0.15rem;
      grid-row-gap: 0.25rem;
      width: 100%;
    }

    .contacts {
      grid-template-columns: auto;
      text-align: center;
      order: 1;
      
      @include media('>tablet') {
        order: 2;
      }

      @include media('<tablet') {
        margin-bottom: 2.5rem;
      }
    }

    .opening-hours {
      grid-template-columns: auto auto;
      column-gap: 1.5rem;
      grid-column-gap: 1.5rem;
      order: 2;
      
      @include media('>tablet') {
        order: 1;
      }
    }
  }

  .profile {
    flex-direction: column;

    figure {
      width: 80%;
      max-width: 400px;
      align-self: center;
      margin-top: 1.25rem;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow-dreamy;
      opacity: 0.7;

      @include media('>tablet') {
        transition: opacity 300ms;

        &:hover {
          opacity: 0.9;
        }
      }
      
      img {
        object-fit: contain;
        min-height: 101%;
        min-width: 101%;
      }
    }
  }
}