@import '../../scss/init';

.about {
  @include withSpacingParent();

  .profile, .contact {
    @include withSpacing();
    display: flex;
    max-width: 800px;

  }

  .contact {
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include media('<tablet') {
      flex-direction: column;
      align-items: center;

      .contacts,
      .opening-hours {
        width: 100%;
      }
      // .contacts {
      //   text-align: center;
      // }
      .opening-hours {
        margin-bottom: 2rem;
      }
    }

    .contacts,
    .opening-hours {
      width: 50%;
      color: $font-color-dark-light;
      display: grid;
      justify-content: center;
      align-items: center;
      row-gap: 0.15rem;
      grid-row-gap: 0.25rem;
    }

    .contacts {
      grid-template-columns: auto;
      text-align: center;
    }

    .opening-hours {
      grid-template-columns: auto auto;
      column-gap: 1.5rem;
      grid-column-gap: 1.5rem;
      font-size: 90%;
    }
  }

  .profile {
    flex-direction: column;

    figure {
      width: 80%;
      max-width: 400px;
      align-self: center;
      margin-top: 1.25rem;
      
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow-dreamy;
      opacity: 0.7;
      transition: opacity 300ms;
      
      img {
        object-fit: contain;
        min-height: 101%;
        min-width: 101%;
      }
      
      &:hover {
        opacity: 0.9;
      }
    }
  }
}