@import '../../scss/init';

.topbar {
  // background: rgba(0, 0, 0, 0.2);
  background: $color-primary;
  // color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include spacing(0.3rem, 0.3rem);
  
  span {
    display: inline-block;
    font-size: 0.6rem;
    padding: 0 0.5rem;
  }
}