@import '../../scss/init';

.topbar {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  @include spacing(0.3rem, 0.3rem);

  font-size: 0.6rem;
  span {
    display: inline-block;
    padding: 0 0.5rem;
  }
}