@import '../../scss/init';

.home {
  @include withSpacingParent();
  
  .highlights {
    @include withSpacingParent();
    // box-shadow: $box-shadow-dreamy;

    &__content {
      @include withSpacing();
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      &__title {
        // grid-column: 1 / -1;
        text-align: center;
        color: $font-color-dark;
      }

      p {
        text-align: center;
        margin-bottom: 0.25rem;
        color: $font-color-dark-light;
        font-weight: 500;
      }
    }
  }

  .instagram-feed {
    display: block;
    width: 80%;
    max-width: 400px;
    align-self: center;
    margin: 2rem;
    position: relative;
    box-shadow: $box-shadow-dreamy;
    border-radius: 0.5rem;
    overflow: hidden;

    @include media('>tablet') {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 900px;
    }

    figure {
      // opacity: 0.9;

      // @include media('>phone') {
      //   opacity: 0.9;
      //   transition: opacity 300ms;
      // }

      img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
      }

      // @include media('>phone') {
      //   &:hover {
      //     opacity: 1;
      //   }
      // }
    }
  }
}