@import '../../scss/init';

.home {
  @include withSpacingParent();
  
  .highlights {
    @include withSpacingParent();
    // box-shadow: $box-shadow-dreamy;

    &__content {
      @include withSpacing();
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      &__title {
        // grid-column: 1 / -1;
        text-align: center;
        color: $font-color-dark;
      }

      p {
        text-align: center;
        margin-bottom: 0.25rem;
        color: $font-color-dark;
      }

      .test-img {
        align-self: center;
        justify-self: center;
        width: 100%;
        position: relative;
        object-fit: contain;
        opacity: 0.6;
      }

      .testbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        max-width: 700px;

        .tekst {
          background: $background;
          align-self: center;
          justify-self: center;
          z-index: +1;
        }
      }
    }
  }

  .instagram-feed {
    display: block;
    width: 80%;
    max-width: 900px;
    align-self: center;
    margin: 2rem;
    position: relative;
    box-shadow: $box-shadow-dreamy;
    border-radius: 0.5rem;
    overflow: hidden;

    @include media('>phone') {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    figure {
      opacity: 0.9;

      @include media('>phone') {
        opacity: 0.7;
        transition: opacity 300ms;
      }

      img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
      }

      @include media('>phone') {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}