
.icon {
  cursor: pointer;
  // -webkit-tap-highlight-color: transparent;
  user-select: none;
  width: 60px;
  margin-bottom: -4px;

  path {
    fill: none;
    stroke: #666;
    stroke-width: 4;
    stroke-linecap: round;
  }

  path:first-of-type {
    stroke-dasharray: 40 139;
  }

  path:last-of-type {
    stroke-dasharray: 40 180;
  }
}