@import '../../scss/init';

.booking {
  width: 100%;
  display: flex;
  flex-direction: column;
  // max-width: $max-width;
  // align-self: center;

  a {
    display: block;
    text-align: center;
  }

  &__iframe {
    max-width: $max-width;
    align-self: center;
    display: block;
    height: auto;
    width: 100%;
    min-height: 80vh;
    border: none;
    margin-top: 2rem;
  }
}