@import '../../scss/init';

.booking {
  @include withSpacingParent();

  &__link {
    display: block;
    text-align: center;
  }

  &__iframe {
    @include withSpacing();
    display: block;
    border: none;
  }
}