@import '../../scss/init';

.booking {
  @include withSpacingParent();

  a {
    display: block;
    text-align: center;
  }

  &__iframe {
    @include withSpacing();
    display: block;
    height: auto;
    min-height: 80vh;
    border: none;
    margin-top: 2rem;
  }
}