@import '../../scss/init';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-size: cover;
  margin-bottom: 3rem;
  @include spacing(7vh, 7vh);

  &::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }

  &__title {
    color: $font-color-lightest;
    font-size: calc(1rem + 2vmin);
    font-weight: 500;
    margin: 0;
    z-index: 1;
    text-align: center;
    max-width: 600px;
    text-shadow: 0 1px 0.3rem rgba(0, 0, 0, 0.55),
    0 1px 0.6rem rgba(0, 0, 0, 0.55),
    0 1px 1.2rem rgba(0, 0, 0, 0.55);
  }
  
  &__sub-title {
    color: $font-color-lightest;
    // color: white;
    font-size: calc(1rem + 0.5vmin);
    // font-size: calc(0.75rem + 0.75vmin);
    margin: 0;
    font-weight: 300;
    text-align: center;
    max-width: 600px;
    z-index: 1;
    text-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.55),
    0 1px 0.4rem rgba(0, 0, 0, 0.55),
    0 1px 0.9rem rgba(0, 0, 0, 0.55);
  }
  
  &__cta {
    background: rgba(255, 255, 255, 0.05);
    // background: rgba(242, 220, 209, 0.05);
    font-weight: 400;
    font-size: calc(1rem + 0.5vmin);
    color: $font-color-lightest;
    border: 1px solid $font-color-lightest;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    z-index: +1;
    margin-top: 1rem;
    text-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.35),
    0 1px 0.4rem rgba(0, 0, 0, 0.35),
    0 1px 0.9rem rgba(0, 0, 0, 0.35);

    box-shadow: $box-shadow-dreamy;

    @include media('>tablet') {
      text-decoration-line: none;

      transition: background-color 350ms;
      
      &:hover {
        background: rgba(255, 255, 255, 0.4);
        transition: background-color 150ms;
      }
    }
  }
}


.button {
  background: #333;
  color: #ccc;
  width: 200px;
  height: 60px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: .6s;
  overflow: hidden;

  &:focus {
    outline: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover {
    background: #338033;
    cursor: pointer;

    &:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }

    &:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}