@import '../../scss/init';

.hero {
  display: flex;
  // flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50vh;
  width: 100%;
  opacity: 0.4;
  position: relative;
  background-position: center;
  background-size: cover;
  @include spacing(1rem, 1rem);
  margin-bottom: 3rem;

  // @include media('<tablet') {
  // height: 50vh;

  // }

  &::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    // background: rgba(255, 255, 255, 0.979);
  }

  &__title {
    color: $font-color-lightest;
    font-size: calc(1rem + 3vmin);
    font-weight: 400;
    margin: 0;
    z-index: 1;
    max-width: 600px;
    text-shadow: 0 1px 0.3rem rgba(0, 0, 0, 0.35),
    0 1px 0.6rem rgba(0, 0, 0, 0.35),
    0 1px 1.2rem rgba(0, 0, 0, 0.35);
  }
  
  &__sub-title {
    // color: white;
    color: $font-color-lightest;
    margin: 0;
    max-width: 600px;
    z-index: 1;
    text-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.35),
    0 1px 0.4rem rgba(0, 0, 0, 0.35),
    0 1px 0.9rem rgba(0, 0, 0, 0.35);
    // padding: 1rem 0;
  }
  
  &__cta {
    background: rgba(255, 255, 255, 0.05);
    // background: rgba(242, 220, 209, 0.05);
    font-weight: 400;
    font-size: calc(1rem + 0.5vmin);
    color: $font-color-lightest;
    border: 1px solid $font-color-lightest;
    // color: $color-primary;
    // border: 1px solid $color-primary;
    border-radius: 0.75rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    z-index: +1;
    // margin: 2rem 0 10vh 0;
    margin-top: 1.5rem;
    text-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.35),
    0 1px 0.4rem rgba(0, 0, 0, 0.35),
    0 1px 0.9rem rgba(0, 0, 0, 0.35);
    // Dreamy w/ rem
    box-shadow: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.07),
    0 0.08rem 0.16rem rgba(0, 0, 0, 0.07),
    0 0.16rem 0.32rem rgba(0, 0, 0, 0.07),
    0 0.32rem 0.64rem rgba(0, 0, 0, 0.07),
    0 0.64rem 1.28rem rgba(0, 0, 0, 0.07),
    0 1.28rem 2.4rem rgba(0, 0, 0, 0.07);

    transition: background-color 350ms;
    
    &:hover {
      background: rgba(255, 255, 255, 0.4);
      transition: background-color 150ms;
    }

    // nice
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
      // 0 2px 2px rgba(0, 0, 0, 0.11),
      // 0 4px 4px rgba(0, 0, 0, 0.11),
      // 0 8px 8px rgba(0, 0, 0, 0.11),
      // 0 16px 16px rgba(0, 0, 0, 0.11),
      // 0 32px 32px rgba(0, 0, 0, 0.11);

    // box-shadow: 
    // 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1),
    // 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1),
    // 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1),
    // 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1),
    // 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
    // // 0 0.7rem 1.4rem rgba(0, 0, 0, 0.07);


      // box-shadow: 0 20px 30px -15px rgba(0, 0, 0, 0.5),
      // 0 40px 40px -20px rgba(0, 0, 0, 0.4),
      // 0 70px 50px -30px rgba(0, 0, 0, 0.3),
      // 0 40px 60px -5px rgba(203, 14, 40, 0.3);


  }
}