@import './vendor/include-media';

$max-width: 1000px;

// $rem-size: calc(14px + 0.7vmin);
$rem-size: calc(12px + 0.5vmin);
$line-height: 1.35;

// COLORS //
$color-rosa: #F2DCD1;
$color-red: #ff0000;
$color-grey: #d1d1d1;
$color-white: #fff;
$color-black: #000;

$color-primary: $color-rosa;

$font-color-darkest: rgba(3, 0, 0, 0.94);
$font-color-darker: rgba(0, 0, 0, 0.8);
$font-color-dark: rgba(0, 0, 0, 0.72);

$font-color-lightest: rgba(255, 253, 253, 0.94);
$font-color-lighter: rgba(255, 255, 255, 0.8);
$font-color-light: rgba(255, 255, 255, 0.72);
  
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$smallSpacing: 1rem;
$spacing: 3rem;
$largeSpacing: 10vw;

$nav-height: 5rem;
$nav-background: $color-black;
$nav-font-size: 0.8rem;

$font: 'Open Sans', sans-serif;
$font-heading: 'Open Sans', sans-serif;

$background: #ffffff;
$background-footer: #f3f3f3;
$font-color-footer: $font-color-dark;


$breakpoints: (
'phone': 480px,
'tablet': 800px,
'desktop': 1124px,
);

 /* Calculation */
// --respaonsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 100px) / (1200 - 100))) 
/* Ranges from 421px to 1199px */

